/camels_gb_v2_catchment_boundaries.shp
/camels_gb_v2_catchment_boundaries.shx
/camels_gb_v2_climatic_attributes.csv
/camels_gb_v2_groundwaterwell_attributes.csv
/camels_gb_v2_humaninfluence_attributes.csv
/camels_gb_v2_hydrogeology_attributes.csv
/camels_gb_v2_hydrologic_attributes.csv
/camels_gb_v2_hydrometry_attributes.csv
/camels_gb_v2_landcover_attributes.csv
/camels_gb_v2_soil_attributes.csv
/camels_gb_v2_topographic_attributes.csv
